html,
body {
    
    font-family: 'Roboto', sans-serif;
    background-color: #3F94E7;
}
header img{
  height: 35px; 
  margin-top: 35px; 
  margin-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  display: inherit
  
}
form{
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}
form h1{
    color: #595959;
    font-weight: normal;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}